.container {
  min-height: 89vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f0ebf8;
  flex-direction: column;
}
.title-card {
  padding: 5px;
  width: 85%;
  margin: 10px;
  border-top: 5px orangered solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.field-card {
  padding: 5px;
  width: 85%;
  margin: 10px;
  border-left: 5px #3f51b5 solid;
}
.field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.form-field {
  width: 45%;
  min-width: 300px;
  margin: 5px;
}
.option-field {
  width: 100%;
  margin: 5px 10px;
}
.field-actions {
  display: flex;
  justify-content: flex-end;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons > * {
  margin: 10px;
}
.name-field {
  width: 100%;
}
